In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import math
from scipy.spatial import distance

In [ ]:
first_domain = "AlAhly Sporting Club The National Club commonly referred to as AlAhly is an Egyptian professional sports club based in Cairo It is one of the most successful football clubs in the world based on total trophies won Its professional football team plays in the Egyptian Premier League the top tier in the Egyptian football league system The club was founded on April as a gathering place for Cairos Student Unions AlAhly has a record of national league titles national cup titles and national super cup titles making them the most decorated club in Egypt The club has never been relegated to the Egyptian Second Division AlAhly is considered the most successful team in Africa and is one of the continents giants  In international competitions the club has won a record CAF Champions League titles a CAF Confederation Cup a record eight CAF Super Cups a record four African Cup Winners Cups an AfroAsian Club Championship an Arab Club Champions Cup an Arab Cup Winners Cup a record two Arab Super Cups and has won three bronze medals in the FIFA Club World Cup With continental titles AlAhly is the most successful football club in African history and was voted by CAF as African club of the century The clubs international trophy haul is the second largest in world football behind only Real Madrid"
first_domain

'AlAhly Sporting Club The National Club commonly referred to as AlAhly is an Egyptian professional sports club based in Cairo It is one of the most successful football clubs in the world based on total trophies won Its professional football team plays in the Egyptian Premier League the top tier in the Egyptian football league system The club was founded on April as a gathering place for Cairos Student Unions AlAhly has a record of national league titles national cup titles and national super cup titles making them the most decorated club in Egypt The club has never been relegated to the Egyptian Second Division AlAhly is considered the most successful team in Africa and is one of the continents giants  In international competitions the club has won a record CAF Champions League titles a CAF Confederation Cup a record eight CAF Super Cups a record four African Cup Winners Cups an AfroAsian Club Championship an Arab Club Champions Cup an Arab Cup Winners Cup a record two Arab Super Cups and has won three bronze medals in the FIFA Club World Cup With continental titles AlAhly is the most successful football club in African history and was voted by CAF as African club of the century The clubs international trophy haul is the second largest in world football behind only Real Madrid'

In [ ]:
second_domain = "Bayerische Motoren Werke AG commonly referred to as BMW is a German multinational corporate manufacturer of luxury vehicles and motorcycles headquartered in Munich Bavaria Germany The corporation was founded in as a manufacturer of aircraft engines which it produced from until and again from to Automobiles are marketed under the brands BMW Mini and RollsRoyce and motorcycles are marketed under the brand BMW Motorrad In BMW was the worlds fourteenthlargest producer of motor vehicles with vehicles produced The company has significant motorsport history especially in touring cars Formula sports cars and the Isle of Man TT BMW is headquartered in Munich and produces motor vehicles in Germany Brazil China India Mexico the Netherlands South Africa the United Kingdom and the United States The Quandt family is a longterm shareholder of the company with the remaining shares owned by public float following investments by the brothers Herbert and Harald Quandt in which saved the company from bankruptcy"
second_domain

'Bayerische Motoren Werke AG commonly referred to as BMW is a German multinational corporate manufacturer of luxury vehicles and motorcycles headquartered in Munich Bavaria Germany The corporation was founded in as a manufacturer of aircraft engines which it produced from until and again from to Automobiles are marketed under the brands BMW Mini and RollsRoyce and motorcycles are marketed under the brand BMW Motorrad In BMW was the worlds fourteenthlargest producer of motor vehicles with vehicles produced The company has significant motorsport history especially in touring cars Formula sports cars and the Isle of Man TT BMW is headquartered in Munich and produces motor vehicles in Germany Brazil China India Mexico the Netherlands South Africa the United Kingdom and the United States The Quandt family is a longterm shareholder of the company with the remaining shares owned by public float following investments by the brothers Herbert and Harald Quandt in which saved the company from bankruptcy'

In [ ]:
corpus = [first_domain, second_domain]
len(corpus)

2

In [ ]:
text = ["Hany love going to school", "The school is far from Sara home", "Hany likes apple more than banana", "Sara likes apple too"]

In [ ]:
vectorizer = TfidfVectorizer()
vectorizer.fit(text)
vocs = vectorizer.vocabulary_
vocs, vectorizer.idf_

({'apple': 0,
  'banana': 1,
  'far': 2,
  'from': 3,
  'going': 4,
  'hany': 5,
  'home': 6,
  'is': 7,
  'likes': 8,
  'love': 9,
  'more': 10,
  'sara': 11,
  'school': 12,
  'than': 13,
  'the': 14,
  'to': 15,
  'too': 16},
 array([1.51082562, 1.91629073, 1.91629073, 1.91629073, 1.91629073,
        1.51082562, 1.91629073, 1.91629073, 1.51082562, 1.91629073,
        1.91629073, 1.51082562, 1.51082562, 1.91629073, 1.91629073,
        1.91629073, 1.91629073]))

In [ ]:
def make_dictionary(text: list):
  vocs = text[0].lower().split(" ")
  for i in range(len(text)):
    vocs = list(set(vocs).union(text[i].lower().split(" ")))

  vocs.sort()

  return vocs

In [ ]:
def calculate_tf(doc, vocabs):
  tf = []
  for vocab in vocabs:
    n = doc.count(vocab)
    tf.append(n)

  return tf

In [ ]:
def calculate_idf(text: list, vocabs: set):
  idf = []
  N = len(text)
  for vocab in vocabs:
    Nt = 0
    for i in range(N):
      if vocab in text[i].lower():
        Nt += 1

    idf.append(Nt)
    
  for i in range(len(idf)):
    idf[i] = np.log( (1+N) / (1+idf[i]) ) + 1
    idf[i] = idf[i].round(5)

  return idf

In [ ]:
def calculate_tfidf(tf, idf):
  tfidf = []
  for i in range(len(tf)):
    temp = tf[i] * idf[i]
    tfidf.append(temp)

  new_tfidf = normalize_tfidf(tfidf)

  return new_tfidf

In [ ]:
def normalize_tfidf(tfidf):
  new_tfidf = []
  power = []

  for i in range(len(tfidf)):
    power.append(math.pow(tfidf[i], 2))
  
  for i in range(len(tfidf)):
    temp = tfidf[i] / (math.sqrt(sum(power)))
    temp = temp.round(5)
    new_tfidf.append(temp)

  return new_tfidf

In [ ]:
vocabs = make_dictionary(text)
idf = calculate_idf(text, vocabs)

vocabs, idf

(['apple',
  'banana',
  'far',
  'from',
  'going',
  'hany',
  'home',
  'is',
  'likes',
  'love',
  'more',
  'sara',
  'school',
  'than',
  'the',
  'to',
  'too'],
 [1.51083,
  1.91629,
  1.91629,
  1.91629,
  1.91629,
  1.51083,
  1.91629,
  1.91629,
  1.51083,
  1.91629,
  1.91629,
  1.51083,
  1.51083,
  1.91629,
  1.91629,
  1.51083,
  1.91629])

In [ ]:
tf = calculate_tf(text[2].lower(), vocabs)
tfidf = calculate_tfidf(tf, idf)
tfidf

[0.35746,
 0.45339,
 0.0,
 0.0,
 0.0,
 0.35746,
 0.0,
 0.0,
 0.35746,
 0.0,
 0.45339,
 0.0,
 0.0,
 0.45339,
 0.0,
 0.0,
 0.0]

In [ ]:
vector = vectorizer.transform([text[2]])
  # print("text Number [{}]  {}".format)
vector.toarray()

array([[0.35745504, 0.4533864 , 0.        , 0.        , 0.        ,
        0.35745504, 0.        , 0.        , 0.35745504, 0.        ,
        0.4533864 , 0.        , 0.        , 0.4533864 , 0.        ,
        0.        , 0.        ]])

In [ ]:
vocabs = make_dictionary(corpus)
idf = calculate_idf(text, vocabs)

vocabs, idf

(['',
  'a',
  'africa',
  'african',
  'afroasian',
  'ag',
  'again',
  'aircraft',
  'alahly',
  'an',
  'and',
  'april',
  'arab',
  'are',
  'as',
  'automobiles',
  'bankruptcy',
  'based',
  'bavaria',
  'bayerische',
  'been',
  'behind',
  'bmw',
  'brand',
  'brands',
  'brazil',
  'bronze',
  'brothers',
  'by',
  'caf',
  'cairo',
  'cairos',
  'cars',
  'century',
  'champions',
  'championship',
  'china',
  'club',
  'clubs',
  'commonly',
  'company',
  'competitions',
  'confederation',
  'considered',
  'continental',
  'continents',
  'corporate',
  'corporation',
  'cup',
  'cups',
  'decorated',
  'division',
  'egypt',
  'egyptian',
  'eight',
  'engines',
  'especially',
  'family',
  'fifa',
  'float',
  'following',
  'football',
  'for',
  'formula',
  'founded',
  'four',
  'fourteenthlargest',
  'from',
  'gathering',
  'german',
  'germany',
  'giants',
  'harald',
  'has',
  'haul',
  'headquartered',
  'herbert',
  'history',
  'in',
  'india',
  'international',
  'investments',
  'is',
  'isle',
  'it',
  'its',
  'kingdom',
  'largest',
  'league',
  'longterm',
  'luxury',
  'madrid',
  'making',
  'man',
  'manufacturer',
  'marketed',
  'medals',
  'mexico',
  'mini',
  'most',
  'motor',
  'motorcycles',
  'motoren',
  'motorrad',
  'motorsport',
  'multinational',
  'munich',
  'national',
  'netherlands',
  'never',
  'of',
  'on',
  'one',
  'only',
  'owned',
  'place',
  'plays',
  'premier',
  'produced',
  'producer',
  'produces',
  'professional',
  'public',
  'quandt',
  'real',
  'record',
  'referred',
  'relegated',
  'remaining',
  'rollsroyce',
  'saved',
  'second',
  'shareholder',
  'shares',
  'significant',
  'south',
  'sporting',
  'sports',
  'states',
  'student',
  'successful',
  'super',
  'system',
  'team',
  'the',
  'them',
  'three',
  'tier',
  'titles',
  'to',
  'top',
  'total',
  'touring',
  'trophies',
  'trophy',
  'tt',
  'two',
  'under',
  'unions',
  'united',
  'until',
  'vehicles',
  'voted',
  'was',
  'werke',
  'which',
  'winners',
  'with',
  'won',
  'world',
  'worlds'],
 [1.0,
  1.0,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  1.51083,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  1.91629,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  1.91629,
  2.60944,
  2.60944,
  2.60944,
  1.91629,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  1.91629,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  1.51083,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944,
  2.60944])

In [ ]:
first_tf = calculate_tf(corpus[0].lower(), vocabs)
first_tfidf = calculate_tfidf(first_tf, idf)
first_tfidf

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.36532,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.91331,
 0.18002,
 0.0]

In [ ]:
second_tf = calculate_tf(corpus[1].lower(), vocabs)
second_tfidf = calculate_tfidf(second_tf, idf)
second_tfidf

[0.0,
 0.0,
 0.0,
 0.15181,
 0.0,
 0.0,
 0.0,
 0.30362,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.80966,
 0.47876,
 0.0]

In [ ]:
first_test = "Manchester United Football Club is a professional football club based in Old Trafford Greater Manchester England that competes in the Premier League the top flight of English football Nicknamed the Red Devils the club was founded as Newton Heath LYR Football Club in but changed its name to Manchester United in The club moved from Newton Heath to its current stadium Old Trafford in Manchester United have won the jointrecord number of trophies in English club football including a record League titles FA Cups five League Cups and a record FA Community Shields They have won the European Cup UEFA Champions League three times and the UEFA Europa League the UEFA Cup Winners Cup the UEFA Super Cup the Intercontinental Cup and the FIFA Club World Cup once each In under the management of Matt Busby years after eight of the clubs players were killed in the Munich air disaster they became the first English club to win the European Cup"
first_test

'Manchester United Football Club is a professional football club based in Old Trafford Greater Manchester England that competes in the Premier League the top flight of English football Nicknamed the Red Devils the club was founded as Newton Heath LYR Football Club in but changed its name to Manchester United in The club moved from Newton Heath to its current stadium Old Trafford in Manchester United have won the jointrecord number of trophies in English club football including a record League titles FA Cups five League Cups and a record FA Community Shields They have won the European Cup UEFA Champions League three times and the UEFA Europa League the UEFA Cup Winners Cup the UEFA Super Cup the Intercontinental Cup and the FIFA Club World Cup once each In under the management of Matt Busby years after eight of the clubs players were killed in the Munich air disaster they became the first English club to win the European Cup'

In [ ]:
third_tf = calculate_tf(first_test, vocabs)
third_tfidf = calculate_tfidf(third_tf, idf)
third_tfidf

[0.0,
 0.0,
 0.0,
 0.05444,
 0.0,
 0.0,
 0.0,
 0.27221,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.92553,
 0.25754,
 0.0]

In [ ]:
distance_first_third = distance.euclidean(first_tfidf, third_tfidf)
distance_second_third = distance.euclidean(second_tfidf, third_tfidf)
distance_first_third, distance_second_third

(0.13338614808142557, 0.269873396799314)

In [ ]:
second_test = "MercedesBenz commonly referred to as Mercedes is a German luxury automotive brand Both MercedesBenz and MercedesBenz AG a MercedesBenz Group subsidiary established in are headquartered in Stuttgart BadenWürttemberg Germany MercedesBenz produces consumer luxury vehicles and commercial vehicles Its first MercedesBenzbadged vehicles were produced in In MercedesBenz was the largest seller of premium vehicles in the world having sold million passenger cars"
second_test

'MercedesBenz commonly referred to as Mercedes is a German luxury automotive brand Both MercedesBenz and MercedesBenz AG a MercedesBenz Group subsidiary established in are headquartered in Stuttgart BadenWürttemberg Germany MercedesBenz produces consumer luxury vehicles and commercial vehicles Its first MercedesBenzbadged vehicles were produced in In MercedesBenz was the largest seller of premium vehicles in the world having sold million passenger cars'

In [ ]:
fourth_tf = calculate_tf(second_test, vocabs)
fourth_tfidf = calculate_tfidf(fourth_tf, idf)
fourth_tfidf

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.61761,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.61761,
 0.48694,
 0.0]

In [ ]:
distance_first_fourth = distance.euclidean(first_tfidf, fourth_tfidf)
distance_second_fourth = distance.euclidean(second_tfidf, fourth_tfidf)
distance_first_fourth, distance_second_fourth

(0.4952662117487927, 0.39822871707098173)